@import '~bootstrap/dist/css/bootstrap.min.css';


.field {
  margin-bottom: 10px;
}

.jumbotron {
  background-color: white;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  place-self: center;
}