<div class=" jumbotron">
  <img src="https://s3.amazonaws.com//beta-img.b2bstack.net/uploads/production/product/product_image/16831/digesto.jpg">
  <div> 

    <fieldset class="form-group">
      <div class="row">
        <div class="form-group col-6">
          <label for="documento">CNJ do processo</label>
          <input type="text" class="form-control field" id="documento" [(ngModel)]="numeroProcesso"
            placeholder="CNJ do processo" >
          <button class="btn btn-primary field" (click)="validarCNJ()">Buscar</button>
          <div *ngIf="mensagemErro" class="alert alert alert-danger alert-dismissible fade show" role="alert">
            {{mensagemErro}}
          </div>
        </div>

      </div>
    </fieldset>

    <div *ngIf="processo">

      <fieldset class="form-group">
        <legend>Processo Nº {{processo.numero}} - Instância {{processo.instancia}}</legend>
      </fieldset>
      <fieldset class="form-group">
        <legend>Anexos</legend>
        <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0" *ngIf="processo.anexos">
            <thead>
              <tr class="text-dark">

                <th scope="col">Numero</th>
                <th scope="col">Data</th>
                <th scope="col">Download</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let anexo of processo.anexos">

                <td> {{anexo[0]}}</td>
                <td> {{anexo[3] | date : 'dd/MM/yyyy' }}</td>
                <td> <a class="btn btn-sm btn-primary" href="{{anexo[1]}}">Abrir </a> </td>
              </tr>

            </tbody>
          </table>
        </div>


      </fieldset>

      <fieldset class="form-group">
        <legend>Audiencias</legend>
        <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0" *ngIf="processo.audiencias">
            <thead>
              <tr class="text-dark">

                <th scope="col">Data/Hora</th>
                <th scope="col">Detalhe</th>
                <th scope="col">Visualizar</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let audiencia of processo.audiencias">

                <td> {{audiencia[0]}}</td>
                <td> {{audiencia[2]}}</td>
                <td> <a class="btn btn-sm btn-primary" href="{{audiencia[1]}}">Abrir </a> </td>
              </tr>

            </tbody>
          </table>
        </div>


      </fieldset>
      <fieldset class="form-group">
        <legend>Movimentação</legend>
        <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0" *ngIf="processo.movs">
            <thead>
              <tr class="text-dark">

                <th scope="col">Data</th>
                <th scope="col">Tipo</th>
                <th scope="col">Texto</th>
               

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mov of processo.movs">

                <td> {{mov[0]}}</td>
                <td> {{mov[1]}}</td>
                <td> {{mov[2]}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>Partes</legend>
        <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0" *ngIf="processo.partes">
            <thead>
              <tr class="text-dark">

                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Advogado - OAB</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partes of processo.partes">

                <td> {{partes[2]}}</td>
                <td> {{partes[8]}}</td>
                <div *ngFor="let partes1 of partes[9]">
                  <td> {{partes1[1]}} - {{partes1[2]}}</td>
                </div>
                
              </tr>

            </tbody>
          </table>
        </div>


      </fieldset>



    </div>


  </div>